In [1]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [23]:
# load dataset
mydf=sjs_load_data.load_data_set(56)
mydf

[INFO] Get Source Id:<56> for data source connection info
[INFO] Data Type:<SQLServer> Source Id:<56>
[INFO] Config: host:192.168.10.58, port:1433, username:fenxi, password:Fenxi@123, db_name:my_sql_server, table_name:user_info

   user_id user_name  age
0        1  zhangsan   20
1        2        李四   23
2        3        王五   25

In [6]:
def f(x):
    return x + 20

In [7]:
interact(f, x=10);

interactive(children=(IntSlider(value=10, description='x', max=30, min=-10), Output()), _dom_classes=('widget-…

In [24]:
# load dataset
mydf=sjs_load_data.load_data_set(56)
mydf

[INFO] Get Source Id:<56> for data source connection info
[INFO] Data Type:<SQLServer> Source Id:<56>
[INFO] Config: host:192.168.10.58, port:1433, username:fenxi, password:Fenxi@123, db_name:my_sql_server, table_name:user_info

   user_id user_name  age
0        1  zhangsan   20
1        2        李四   23
2        3        王五   25

In [4]:

def slow_function(i):
    print(int(i),list(x for x in range(int(i)) if
                str(x)==str(x)[::-1] and
                str(x**2)==str(x**2)[::-1]))
    return

In [5]:
%%time
slow_function(1e6)

1000000 [0, 1, 2, 3, 11, 22, 101, 111, 121, 202, 212, 1001, 1111, 2002, 10001, 10101, 10201, 11011, 11111, 11211, 20002, 20102, 100001, 101101, 110011, 111111, 200002]
Wall time: 622 ms

In [8]:
@interact(x=True, y=1.0)
def g(x, y):
    return (x, y)

interactive(children=(Checkbox(value=True, description='x'), FloatSlider(value=1.0, description='y', max=3.0, …

In [9]:

%matplotlib inline
from ipywidgets import interactive
import matplotlib.pyplot as plt
import numpy as np

def f(m, b):
    plt.figure(2)
    x = np.linspace(-10, 10, num=1000)
    plt.plot(x, m * x + b)
    plt.ylim(-5, 5)
    plt.show()

interactive_plot = interactive(f, m=(-2.0, 2.0), b=(-3, 3, 0.5))
output = interactive_plot.children[-1]
output.layout.height = '350px'
interactive_plot

interactive(children=(FloatSlider(value=0.0, description='m', max=2.0, min=-2.0), FloatSlider(value=0.0, descr…

In [10]:
import ipywidgets as widgets

In [11]:
widgets.IntSlider()

IntSlider(value=0)

In [15]:
from IPython.display import display
w = widgets.IntSlider()
display(w)

IntSlider(value=0)

In [21]:
display(w)

IntSlider(value=33)

In [14]:
w.close()

In [17]:
w.value = 100

In [18]:
w.value = 0

In [19]:
w.keys

['_dom_classes',
 '_model_module',
 '_model_module_version',
 '_model_name',
 '_view_count',
 '_view_module',
 '_view_module_version',
 '_view_name',
 'continuous_update',
 'description',
 'description_tooltip',
 'disabled',
 'layout',
 'max',
 'min',
 'orientation',
 'readout',
 'readout_format',
 'step',
 'style',
 'value']

In [26]:
display(w)

IntSlider(value=39)

In [ ]:
# load dataset
mydf=sjs_load_data.load_data_set(56)
mydf

$$
y = \frac{a}{b+c}
$$

In [2]:
%matplotlib

Using matplotlib backend: TkAgg